* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#container {
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 150px;

    background-image: linear-gradient(to right,
            rgba(142, 93, 233, 0.7) 0%,
            #b392f0 35%,
            rgba(204, 122, 0, 0.7) 65%,
            #cc7a00 100%);
}

#links {
    display: flex;
    height: 70%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

a#usuarios,
a#posts {
    border-radius: 40px;
    width: 30%;
    height: 70%;

    text-decoration: none;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    color: whitesmoke;
    font-weight: 700;

    background-image: linear-gradient(
        rgba(247, 59, 78, 0.6) 70%, 
        rgba(249, 117, 131, 0.6) 100%
    );

    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

    transition: transform 0.3s ease;
}

i.bi.bi-person-fill-gear {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0; 
    height: 100%;
    gap: 10px; 
}

i.bi.bi-table {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 0;
    height: 100%;
    gap: 10px; 
}

i.bi.bi-person-fill-gear::before {
    font-size: 80px;
}

i.bi.bi-table::before {
    font-size: 80px;
}

#links a:hover {
    transform: scale(1.005);
}

#contem-logout {
    display: flex;
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#logout {
    box-shadow: none;
    border: none;
    border-radius: 80px;

    display: flex;
    align-items: center;
    padding: 10px 30px;

    font-size: 30px;
    color: whitesmoke;
    font-weight: 600;
    
    font-family: 'JetBrains Mono', monospace;

    background-image: linear-gradient(#f73b4e 70%, #f97583 100%);
    
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

    transition: transform 0.3s ease;
}

#logout:hover {
    transform: scale(1.01);
}

@media (min-width: 320px) and (max-width: 767px) {
    #container {
        gap: 20px;
        padding: 0px;
    }

    #links {
        flex-direction: column;
        height: 60%;
        width: 100%;
        gap: 20px
    }

    a#usuarios,
    a#posts {
        font-size: 16px;
        width: 70%;
    }

    i.bi.bi-person-fill-gear {
        height: 100%;
        padding: 10px;
    }

    i.bi.bi-table {
        height: 100%;
        padding: 25px;
    }

    i.bi.bi-person-fill-gear::before {
        font-size: 100px;
    }

    i.bi.bi-table::before {
        font-size: 100px;
    }

}

@media (min-width: 425px) and (max-width: 767px) {

    a#usuarios,
    a#posts {
        font-size: 22px;
    }

    i.bi.bi-person-fill-gear {
        gap: 20px;
    }
}

@media(min-width: 768px) and (max-width: 1023px) {
    #container {
        gap: 20px;
        padding: 0px;
    }

    #links {
        height: 50%;
        flex-direction: row;
        width: 90%;
        gap: 50px
    }

    a#usuarios,
    a#posts {
        font-size: 22px;
    }

    i.bi.bi-person-fill-gear {
        height: 100%;
        padding: 0px;
        gap: 40px
    }

    i.bi.bi-table {
        height: 100%;
        padding: 30px 0px;
        gap: 30px;
    }

    i.bi.bi-person-fill-gear::before {
        font-size: 100px;
    }

    i.bi.bi-table::before {
        font-size: 100px;
    }
}
@media(min-width: 1024px) and (max-width: 1439px) {
    #container{
        padding: 0px;
        gap: 50px;
    }
    #links{
        gap: 50px;
        height: 50%;
    }
    a#usuarios,
    a#posts {
        font-size: 30px;
    }

    i.bi.bi-person-fill-gear::before,
    i.bi.bi-table::before {
        font-size: 130px;
    }

    i.bi.bi-table,
    i.bi.bi-person-fill-gear {
        padding-top: 0;
        gap: 30px;   
    }

    #logout {
        font-size: 40px;
    }
}

@media(min-width: 1440px) and (max-width: 2559px) {
    #container {
        padding: 150px 0px;
    }

    a#usuarios,
    a#posts {
        font-size: 45px;
    }

    i.bi.bi-person-fill-gear::before,
    i.bi.bi-table::before {
        font-size: 160px;
    }

    i.bi.bi-table,
    i.bi.bi-person-fill-gear {
        padding-top: 0; 
        gap: 40px;     
    }

    #logout {
        font-size: 60px;
    }
}

@media(min-width: 2560px){
     #container{
        padding: 300px 0px;
     }
    a#usuarios,
    a#posts {
        font-size: 80px;
        height: 90%;
    }
    i.bi.bi-person-fill-gear::before {
        font-size: 550px;
    }

    i.bi.bi-table::before {
        font-size: 550px;
    }
      i.bi.bi-table {
        padding-top: 80px;
        gap: 43px;
    }
    i.bi.bi-person-fill-gear {
        gap: 70px;
    }
     #logout {
        font-size: 120px;
        border-radius: 100px;
        padding: 0px 40px;
    }
    

}

