* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#container {
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 150px;

    background-image: linear-gradient(to right,
            rgba(142, 93, 233, 0.7) 0%,
            #b392f0 35%,
            rgba(204, 122, 0, 0.7) 65%,
            #cc7a00 100%);
}

#links {
    display: flex;
    height: 70%;
    width: 100%;
    flex-direction: line;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

a#usuarios,
a#posts {
    border-radius: 40px;
    width: 40%;
    height: 100%;

    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    font-size: 30px;
    color: #040000;

    background-image: linear-gradient(#f73b4e 70%, #f97583 100%);
    opacity: 0.6;

    transition: transform 0.3s ease;
}

i.bi.bi-person-fill-gear {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;

    height: 100%;
    gap: 30px;

}

i.bi.bi-table {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px;

    height: 100%;
    gap: 30px;

}

i.bi.bi-person-fill-gear::before {
    font-size: 160px;
}

i.bi.bi-table::before {
    font-size: 140px;
}

#links a:hover {
    transform: scale(1.005);
}

#contem-logout {
    display: flex;
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#logout {
    box-shadow: none;
    border: none;
    border-radius: 80px;

    display: flex;
    align-items: center;
    padding: 10px 30px;

    font-size: 30px;
    color: #040000;
    opacity: 0.6;
    font-family: 'JetBrains Mono', monospace;

    background-image: linear-gradient(#f73b4e 70%, #f97583 100%);
    transition: transform 0.3s ease;
}

#logout:hover {
    transform: scale(1.01);
}

@media (min-width: 320px) and (max-width: 767px) {
    #container {
        gap: 20px;
        padding: 0px;
    }

    #links {
        flex-direction: column;
        height: 60%;
        width: 100%;
        gap: 20px
    }

    a#usuarios,
    a#posts {
        font-size: 16px;
        width: 70%;
    }

    i.bi.bi-person-fill-gear {
        height: 100%;
        padding: 10px;
    }

    i.bi.bi-table {
        height: 100%;
        padding: 25px;
    }

    i.bi.bi-person-fill-gear::before {
        font-size: 100px;
    }

    i.bi.bi-table::before {
        font-size: 90px;
    }

}

@media (min-width: 425px) and (max-width: 767px) {

    a#usuarios,
    a#posts {
        font-size: 22px;
    }

    i.bi.bi-person-fill-gear {
        gap: 20px;
    }
}

@media(min-width: 768px) and (max-width: 1023px) {
    #container {
        gap: 20px;
        padding: 0px;
    }

    #links {
        height: 0%;
        flex-direction: line;
        width: 90%;
        gap: 50px
    }

    a#usuarios,
    a#posts {
        font-size: 24px;
    }

    i.bi.bi-person-fill-gear {
        height: 100%;
        padding: 0px;
        gap: 40px
    }

    i.bi.bi-table {
        height: 100%;
        padding: 30px 0px;
    }

    i.bi.bi-person-fill-gear::before {
        font-size: 200px;
    }

    i.bi.bi-table::before {
        font-size: 180px;
    }
}
@media(min-width: 1024px) {
        a#usuarios,
    a#posts {
        font-size: 30px;
    }
    i.bi.bi-person-fill-gear::before {
        font-size: 300px;
    }

    i.bi.bi-table::before {
        font-size: 260px;
    }
      i.bi.bi-table {
        padding-top: 52px;
    }
    #logout {
        font-size: 50px;
    }
}
