*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}    
#container{
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    background-image: linear-gradient(to right,
    rgba(142, 93, 233, 0.7) 0%,
    rgba(249, 117, 131, 0.7) 50%,
    rgba(204, 122, 0, 0.7) 100%);
}
#links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
#links a{
    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 100px;
    width: fit-content;
    height: fit-content;
    padding: 20px 15px;

    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    font-size: 50px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;

    background-image: linear-gradient(#8E5DE9 20%, #722FEE 100%);
    opacity: 0.6;

    transition: transform 0.3s ease;
} 
#links a:hover {
    transform: scale(1.2);
}
#logout {
    box-shadow: none;
    border: none;
    border-radius: 50px;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 15px;

    font-size: 50px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    color: whitesmoke;

    background-image: linear-gradient(#8E5DE9 20%, #722FEE 100%);
    opacity: 0.6;

    transition: transform 0.3s ease;
} 
#logout:hover { 
        transform: scale(1.2);
}
@media (min-width: 320px)
{
    #container {
        gap: 40px;
    }
    #links {
        gap: 40px
    }
    #links a{
        display: flex;
        font-size: 30px;
        padding: 10px 10px;
    }
    #logout {
        display: flex;
        font-size: 30px;
        padding: 10px 10px;
    }
}
@media (min-width: 425px) {
    #links a {
        padding: 15px 25px;
    }
    #logout {
        padding: 15px 25px;
    }
}
@media (min-width: 768px){
    #links a {
        padding: 15px 25px;
        font-size: 40px;
    }
        #logout {
        padding: 15px 25px;
        font-size: 40px;
    }
}
@media (min-width: 1024px){
    #links a {
        padding: 15px 40px;
        font-size: 50px;
    }
        #logout {
        padding: 15px 40px;
        font-size: 50px;
    }
}
@media (min-width: 1440px){
    #container{
        gap: 80px;
    }
    #links{
        gap: 80px;
    }
    #links a {
        padding: 20px 50px;
        font-size: 70px;
    }
        #logout {
        padding: 20px 50px;
        font-size: 70px;
        border-radius: 100px;
}
}
@media (min-width: 2560px){
    #container{
        gap: 140px;
    }
    #links{
        gap: 140px;
    }
    #links a {
        border-radius: 200px;
        padding: 20px 70px;
        font-size: 120px;
    }
        #logout {
        padding: 20px 70px;
        font-size: 120px;
        border-radius: 200px;
}
}