*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    background-image: linear-gradient(to right,
    rgba(142, 93, 233, 0.7) 0%,
    rgba(249, 117, 131, 0.7) 50%,
    rgba(204, 122, 0, 0.7) 100%);
}
#links{
    gap: 80px;
}
#links a{
    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 50px;
    width: fit-content;
    height: fit-content;

    text-decoration: none;
    color: white;

    font-size: 64px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;

    background-image: linear-gradient(#8E5DE9 20%, #722FEE 100%);
    opacity: 0.6;
} 