*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}    
#container{
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 150px;

    background-image: linear-gradient(to right,
        rgba(142, 93, 233, 0.7) 0%,
        #b392f0 35%,
        rgba(204, 122, 0, 0.7) 65%,
        #cc7a00 100% );     
}
#links{
    display: flex;
    height: 70%;
    width: 100%;
    flex-direction: line;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
a#usuarios, a#posts{
    border-radius: 40px;
    width: 40%;
    height: 100%;

    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    font-size: 30px;

    background-image: linear-gradient(#f73b4e 70%, #f97583 100%);
    opacity: 0.6;

    transition: transform 0.3s ease;
} 
i.bi.bi-person-fill-gear {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;

    height: 100%;
    gap: 20px;

}
i.bi.bi-person-fill-gear::before{
    font-size: 160px;
}
#links a:hover {
    transform: scale(1.01);
}
#logout {
    box-shadow: none;
    border: none;
    border-radius: 50px;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 15px;

    font-size: 50px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    color: whitesmoke;

    background-image: linear-gradient(#8E5DE9 20%, #722FEE 100%);
    opacity: 0.6;

    transition: transform 0.3s ease;
} 
#logout:hover { 
        transform: scale(1.2);
}
