/* PARTE DE CIMA */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  height: 100%;
  max-width: 100vw;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

.introducao-lp {
  background-color: #f73b46;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px 50px;
}

#titulo-pagina {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 100px;
}

#texto-introducao {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}



/*  PARTE DEBAIXO */

.posts-recentes {
  background-color: #1E1E1E; 
  width: 100%;
  padding: 80px 60px; 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px; 
}

.titulo-secao {
  color: #F97583; 
  font-size: 40px;
  font-weight: 800; 
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 10px; 
  width: 100%; 
  max-width: 1440px;
}

.post-card {
  background-color: #1F1F1F; 
  border: 1px solid #FFFFFF; /* tirar quando mudar o fundo */
  border-radius: 10px; 
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px; 
  width: 250px;
  height: 460px;
}

.post-imagem-placeholder {
  background-color: #D9D9D9; 
  border-radius: 16px;
  width: 100%;
  height: 230px; 
}

.post-titulo {
  color: #F73B46; 
  font-size: 32px;
  font-weight: 800; 
  text-align: center;
  font-weight: 700;
}

.post-descricao {
  font-size: 16px;
  text-align: center;
  font-weight: 500; 
}

.post-autor { 
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.btn-ver-todos {
  background-color: #F73B46; 
  color: #FFFFFF; 
  padding: 15px 20px; 
  border-radius: 8px; 
  text-decoration: none; 
  font-size: 32px;
  font-weight: 700;
}