/* PADRONIZAÇÃO GERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/public/assets/fundo.jpg) no-repeat top center/cover;
  color: white;
  height: 100%;
  max-width: 100vw;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

/*1°: versão base -> VERSÃO DESKTOP */

/* PARTE SUPERIOR*/

.introducao-lp {
  background-color: #f73b46;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px 50px;
}

#titulo-pagina {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 60px;
}

#texto-introducao {
  font-size: 32px;
  font-weight: 500;
  text-align: justify;
}

/*  PARTE INFERIOR */

.posts-recentes {
  width: 100%;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.titulo-secao {
  color: #f97583;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

/*
.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1440px;
  justify-items: center;
}
  */

.post-card {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 100%; */
  width: 30vw;
  flex-shrink: 0;
  margin: 0 10px;
  height: auto;
}

.post-imagem-placeholder {
  border-radius: 16px;
  width: 100%;
  height: 230px;
  background-image: url(/public/assets/fundo1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post-titulo {
  color: #f73b46;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  font-weight: 700;
}

.post-descricao,
.post-autor {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}

.bot-ver-todos {
  background-color: #f73b4e;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
}

/*2°: tela abaixo de 320px */

/* PARTE SUPERIOR */

@media (max-width: 319px) {
  .introducao-lp {
    padding: 20px 30px 50px;
  }

  #titulo-pagina {
    font-size: 19px;
  }

  #texto-introducao {
    font-size: 13px;
  }

  /*  PARTE INFERIOR */

  .posts-recentes {
    padding: 40px 20px;
    gap: 40px;
  }

  .titulo-secao {
    font-size: 17px;
  }

  .posts-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .post-imagem-placeholder {
    height: 180px;
  }

  .post-titulo {
    font-size: 14px;
  }

  .post-descricao,
  .post-autor {
    font-size: 11px;
  }

  .bot-ver-todos {
    font-size: 13px;
    padding: 12px 6px;
  }
}

/*3°: VERSÃO MOBILE 320px a 424px */

/* PARTE SUPERIOR*/

@media (min-width: 320px) {
  .introducao-lp {
    padding: 20px 30px 50px;
  }

  #titulo-pagina {
    font-size: 20px;
  }

  #texto-introducao {
    font-size: 14px;
  }

  /*  PARTE INFERIOR */

  .posts-recentes {
    padding: 40px 20px;
    gap: 40px;
  }

  .titulo-secao {
    font-size: 20px;
    font-weight: 700;
  }

  .posts-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .post-imagem-placeholder {
    height: 200px;
  }

  .post-titulo {
    font-size: 15px;
    font-weight: 700;
  }

  .post-descricao,
  .post-autor {
    font-size: 12px;
  }

  .bot-ver-todos {
    padding: 13px 8px;
    font-size: 15px;
  }
}

/* 4°: VERSÃO MOBILE: 425px a 767px */

/* PARTE SUPERIOR */

@media (min-width: 425px) {
  .introducao-lp {
    padding: 20px 30px 50px;
  }

  #titulo-pagina {
    font-size: 22px;
  }

  #texto-introducao {
    font-size: 16px;
  }

  /*  PARTE INFERIOR */

  .posts-recentes {
    padding: 40px 20px;
    gap: 40px;
  }

  .titulo-secao {
    font-size: 22px;
    font-weight: 700;
  }

  .posts-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .post-imagem-placeholder {
    height: 190px;
  }

  .post-titulo {
    font-size: 16px;
    font-weight: 700;
  }

  .post-descricao,
  .post-autor {
    font-size: 13px;
  }

  .bot-ver-todos {
    padding: 13px 8px;
    font-size: 17px;
  }
}

/* 5°: VERSÃO TABLET 768px a 1023px */

/* PARTE SUPERIOR */

@media (min-width: 768px) {
  .introducao-lp {
    padding: 20px 30px 50px;
  }

  #titulo-pagina {
    font-size: 25px;
  }

  #texto-introducao {
    font-size: 18px;
  }

  /*  PARTE INFERIOR */

  .posts-recentes {
    padding: 40px 20px;
    gap: 40px;
  }

  .titulo-secao {
    font-size: 24px;
    font-weight: 700;
  }

  .posts-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .post-imagem-placeholder {
    height: 220px;
  }

  .post-titulo {
    font-size: 18px;
    font-weight: 700;
  }

  .post-descricao,
  .post-autor {
    font-size: 15px;
  }

  .bot-ver-todos {
    padding: 13px 8px;
    font-size: 20px;
  }
}

/* 6°: Laptop 1024 a 1439 */

/* PARTE SUPERIOR */

@media (min-width: 1024px) and (max-width: 1439.98px) {
  .introducao-lp {
    padding: 20px 30px 50px;
  }

  #titulo-pagina {
    font-size: 28px;
  }

  #texto-introducao {
    font-size: 20px;
  }

  /*  PARTE INFERIOR */

  .posts-recentes {
    padding: 40px 20px;
    gap: 40px;
  }

  .titulo-secao {
    font-size: 25px;
    font-weight: 700;
  }

  .posts-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .post-card:nth-child(n + 4) {
    display: none;
  }

  .post-imagem-placeholder {
    height: 250px;
  }

  .post-titulo {
    font-size: 20px;
    font-weight: 700;
  }

  .post-descricao,
  .post-autor {
    font-size: 14px;
  }

  .bot-ver-todos {
    padding: 13px 8px;
    font-size: 20px;
  }
}

/* 7°: Laptop 1440 a 1919*/

/* PARTE SUPERIOR */

@media (min-width: 1440px) and (max-width: 1919.98px) {
  .introducao-lp {
    padding: 20px 30px 50px;
  }

  #titulo-pagina {
    font-size: 32px;
  }

  #texto-introducao {
    font-size: 25px;
  }

  /*  PARTE INFERIOR */

  .posts-recentes {
    padding: 40px 20px;
    gap: 40px;
  }

  .titulo-secao {
    font-size: 30px;
    font-weight: 700;
  }

  .posts-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .post-card:nth-child(n + 4) {
    display: none;
  }

  .post-imagem-placeholder {
    height: 300px;
  }

  .post-titulo {
    font-size: 24px;
    font-weight: 700;
  }

  .post-descricao,
  .post-autor {
    font-size: 17px;
  }

  .bot-ver-todos {
    padding: 13px 8px;
    font-size: 23px;
  }
}

/* 8°: desktop 1920 a 2559 */

/* PARTE SUPERIOR */

@media (min-width: 1920px) {
  .introducao-lp {
    padding: 20px 30px 50px;
  }

  #titulo-pagina {
    font-size: 34px;
  }

  #texto-introducao {
    font-size: 27px;
  }

  /*  PARTE INFERIOR */

  .posts-recentes {
    padding: 40px 20px;
    gap: 40px;
  }

  .titulo-secao {
    font-size: 32px;
    font-weight: 700;
  }

  .posts-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    min-width: 99%;
  }

  .post-card {
    gap: 30px;
  }

  .post-imagem-placeholder {
    height: 400px;
  }

  .post-titulo {
    font-size: 26px;
    font-weight: 700;
  }

  .post-descricao,
  .post-autor {
    font-size: 20px;
  }

  .bot-ver-todos {
    padding: 13px 8px;
    font-size: 26px;
  }
}

/* 9°: desktop 2560px+ */

/* PARTE SUPERIOR */

@media (min-width: 2560px) {
  .introducao-lp {
    padding: 30px 50px 70px;
  }

  #titulo-pagina {
    font-size: 50px;
    margin-bottom: 100px;
  }

  #texto-introducao {
    font-size: 38px;
  }

  /* PARTE INFERIOR */

  .posts-recentes {
    padding: 60px 50px;
    gap: 60px;
  }

  .titulo-secao {
    font-size: 46px;
  }

  .posts-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    min-width: 99%;
  }

  .post-card {
    gap: 30px;
  }

  .post-imagem-placeholder {
    height: 500px;
  }

  .post-titulo {
    font-size: 36px;
  }

  .post-descricao,
  .post-autor {
    font-size: 28px;
  }

  .bot-ver-todos {
    padding: 20px 30px;
    font-size: 36px;
  }
}

/* CARROSSEL */

.carrossel {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 1.5vw;
}

.titulo-do-carrossel {
  text-align: center;
  padding: 2vh;
  font-size: 2vw;
  color: #333;
  font-weight: 600;
}

.slider {
  max-width: 100vw;
}

.slider-conteudo {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  padding: 20px 0;
}

/*
.slider-item {
   mexe com a div 
  min-width: 30vw;  espaçamento entre as imgs 
}

.slider-item img {
   mexe com a imagem 
  width: 25vw;
  height: 35vh;
  object-fit: cover;
  border-radius: 1.5vw;
  transition: transform 0.3s;
}
*/

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f97583;  
  color: #000000;
  width: 3vw;
  height: 8vh;
  border-radius: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 35px;
  transition: 0.3s;
  z-index: 10;
}

.nav-arrow:hover {
  background-color: #f73b4e;
  color: white;
}

.arrow-left {
  left: 0.9vw;
}

.arrow-right {
  right: 0.9vw;
}

.radio-auto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2vh;
  margin: 1vw 0;
  gap: 0.5vw;
}

.radio-label {
  border: 0.1vw solid white;
  padding: 0.4vw;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.radio-label.active {
  background-color: red;
}
