body
{
    height: 100%;
    max-width: 100vw;
    display: flex;
    padding: 0;
    margin: 0;
}

.introducao-lp
{
    background-color: #F73B4E;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px;
}