* {
  /* para "caber" tudo na tela, sem precisar rolar*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  height: 100%;
  max-width: 100vw;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

.introducao-lp {
  background-color: #f73b46;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px;
}

#titulo-pagina {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 100px;
}

#texto-introducao {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}
