* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
   background: linear-gradient(
    to bottom,
    #f73b46,
    #832424,
    #832424  /* #812e2e    #881b1b   */
  ); 
  color: white;
  height: 100%;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

main {
  width: 100%;
}

.introducao-lp {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.75)),
    url("/public/assets/exemplo_sobrenos.jpg") no-repeat top center/100% 100%;

    padding: 56px 72px;
}

.intro-direita {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.intro-esquerda #titulo-pagina {
    font-style: italic;
}

.intro-esquerda #texto-introducao {
    font-size: 19px;
    font-style: italic;
}

.bloco-pequeno {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    height: 100%;
    margin: 0;
}

.bloco-pequeno .bloco-titulo {
    color: rgb(255, 175, 175);
}

.bloco-pequeno .bloco-texto {
    display: flex;
    height: 100%;
    gap: 10%;
}

.bloco-pequeno .bloco-icone {
    display: flex;
    height: 100%;
    align-items: center;
}


.titulo-secao {
    color: rgb(255, 175, 175);
    font-style: italic;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    /* animation: pulse-color 3s ease-in-out infinite;  */
}


.posts-recentes .post-card {
    display: flex;
    align-items: flex-start;
    padding: 16px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    box-shadow: #832424;
    gap: 0.7rem;
}

.posts-recentes .post-card .post-titulo {
    font-weight: bolder;
}

.posts-recentes .post-card .post-descricao {
    text-align: justify;
}

.posts-recentes .post-card .post-autor {
    width: 100%;
    text-align: center;
}


.bot-ver-todos {
    padding: 15px 16px;
}