/* 
html {
font-size: calc(70% + 0.8vmin);


PADRONIZAÇÃO GERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  height: 100%;
  max-width: 100vw;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}


/*1°: versão base -> VERSÃO DESKTOP */

/* PARTE SUPERIOR*/

.introducao-lp {
  background-color: #f73b46;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px 50px;
}

#titulo-pagina {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 100px;
}

#texto-introducao {
  font-size: 32px;
  font-weight: 500;
  /* text-align: center */
}

/*  PARTE INFERIOR */

.posts-recentes {
  background-color: #1e1e1e;
  width: 100%;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.titulo-secao {
  color: #f97583;
  font-size: 40px;
  font-weight: 800;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1440px;
}

.post-card {
  background-color: #1f1f1f;
  border: 1px solid #ffffff; /* tirar quando mudar o fundo */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}

.post-imagem-placeholder {
  background-color: #d9d9d9;
  border-radius: 16px;
  width: 100%;
  height: 230px;
}

.post-titulo {
  color: #f73b46;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  font-weight: 700;
}

.post-descricao,
.post-autor {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}

.bot-ver-todos {
  background-color: #f73b4e;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
}


/*2°: tela abaixo de 320px */

@media (max-width: 319px) {
.introducao-lp {
    padding: 20px 30px 50px;
  }

  #titulo-pagina {
    font-size: 19px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 800;
  }

  #texto-introducao {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
  }

  /*  PARTE INFERIOR */

  .posts-recentes {
    padding: 40px 20px;
    gap: 40px;
  }

  .titulo-secao {
    font-size: 17px; 
    text-align: center;
  }

  .posts-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }

  .post-card2 {
  background-color: #1f1f1f;
  border: 1px solid #ffffff; /* tirar quando mudar o fundo */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}

  .post-imagem-placeholder {
    height: 150px;
  }

  .post-titulo {
    font-size: 14px;
    font-weight: 700;
  }

  .post-descricao,
  .post-autor {
    font-size: 11px;
  }

   .bot-ver-todos {
    font-size: 13px;  
    padding: 12px 6px;  
  }
}

/*3°: VERSÃO MOBILE 320px e 375px */

/* PARTE SUPERIOR*/

@media (min-width: 320px) {
  .introducao-lp {
    padding: 20px 30px 50px;
  }

  #titulo-pagina {
    font-size: 20px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 800;
  }

  #texto-introducao {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
  }

  /*  PARTE INFERIOR */

  .posts-recentes {
    padding: 40px 20px;
    gap: 40px;
  }

  .titulo-secao {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
  }

  .posts-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }

  .post-card2 {
  background-color: #1f1f1f;
  border: 1px solid #ffffff; /* tirar quando mudar o fundo */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}

  .post-imagem-placeholder {
    height: 150px;
  }

  .post-titulo {
    font-size: 15px;
    font-weight: 700;
  }

  .post-descricao,
  .post-autor {
    font-size: 12px;
  }

  .bot-ver-todos {
    background-color: #f73b4e;
    color: #ffffff;
    padding: 13px 8px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
  }
}


/* 4°: VERSÃO MOBILE: 425px a 768px */

@media (min-width: 425px) {
  .introducao-lp {
    padding: 20px 30px 50px;
  }

  #titulo-pagina {
    font-size: 22px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 800;
  }

  #texto-introducao {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
  }

  /*  PARTE INFERIOR */

  .posts-recentes {
    padding: 40px 20px;
    gap: 40px;
  }

  .titulo-secao {
    font-size: 22px;
    text-align: center;
    font-weight: 700;
  }

  .posts-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }

  .post-card2 {
  background-color: #1f1f1f;
  border: 1px solid #ffffff; /* tirar quando mudar o fundo */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}

  .post-imagem-placeholder {
    height: 150px;
  }

  .post-titulo {
    font-size: 16px;
    font-weight: 700;
  }

  .post-descricao,
  .post-autor {
    font-size: 13px;
  }

  .bot-ver-todos {
    background-color: #f73b4e;
    color: #ffffff;
    padding: 13px 8px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 700;
  }
}


/* 5°: VERSÃO TABLET 768px a 1024px */

@media (min-width: 768px) {
  .introducao-lp {
    padding: 20px 30px 50px;
  }

  .postTab,
  .postDesk {
    display: flex;
  }

  #titulo-pagina {
    font-size: 25px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 800;
  }

  #texto-introducao {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
  }

  /*  PARTE INFERIOR */

  .posts-recentes {
    padding: 40px 20px;
    gap: 40px;
  }

  .titulo-secao {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
  }

  .posts-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
  }

  .post-card2 {
  background-color: #1f1f1f;
  border: 1px solid #ffffff; /* tirar quando mudar o fundo */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}

  .post-imagem-placeholder {
    height: 150px;
  }

  .post-titulo {
    font-size: 18px;
    font-weight: 700;
  }

  .post-descricao,
  .post-autor {
    font-size: 15px;
  }

  .bot-ver-todos {
    background-color: #f73b4e;
    color: #ffffff;
    padding: 13px 8px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
  }
}

/* 6°: Laptop 1024 a 1440 */

@media (min-width: 1024px) {
  .introducao-lp {
    padding: 20px 30px 50px;
  }

  .postTab,
  .postDesk {
    display: flex;
  }

  #titulo-pagina {
    font-size: 28px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 800;
  }

  #texto-introducao {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
  }

  /*  PARTE INFERIOR */

  .posts-recentes {
    padding: 40px 20px;
    gap: 40px;
  }

  .titulo-secao {
    font-size: 25px;
    text-align: center;
    font-weight: 700;
  }

  .posts-grid {
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 30px;
  }

  .post-card2 {
  background-color: #1f1f1f;
  border: 1px solid #ffffff; /* tirar quando mudar o fundo */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}

  .post-imagem-placeholder {
    height: 150px;
  }

  .post-titulo {
    font-size: 20px;
    font-weight: 700;
  }

  .post-descricao,
  .post-autor {
    font-size: 14px;
  }

  .bot-ver-todos {
    background-color: #f73b4e;
    color: #ffffff;
    padding: 13px 8px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
  }
}

/* 7°: Laptop 1440 a 1920*/

@media (min-width: 1440px) {
  .introducao-lp {
    padding: 20px 30px 50px;
  }

  .postTab,
  .postDesk {
    display: flex;
  }

  #titulo-pagina {
    font-size: 32px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 800;
  }

  #texto-introducao {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
  }

  /*  PARTE INFERIOR */

  .posts-recentes {
    padding: 40px 20px;
    gap: 40px;
  }

  .titulo-secao {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
  }

  .posts-grid {
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 30px;
  }

  .post-card2 {
  background-color: #1f1f1f;
  border: 1px solid #ffffff; /* tirar quando mudar o fundo */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}

  .post-imagem-placeholder {
    height: 150px;
  }

  .post-titulo {
    font-size: 24px;
    font-weight: 700;
  }

  .post-descricao,
  .post-autor {
    font-size: 17px;
  }

  .bot-ver-todos {
    background-color: #f73b4e;
    color: #ffffff;
    padding: 13px 8px;
    border-radius: 8px;
    font-size: 23px;
    font-weight: 700;
  }
}

/* 8°: desktop 1920 a 2560 */

@media (min-width: 1920px) {
  .introducao-lp {
    padding: 20px 30px 50px;
  }

  .postTab,
  .postDesk {
    display: flex;
  }

  #titulo-pagina {
    font-size: 34px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 800;
  }

  #texto-introducao {
    font-size: 27px;
    text-align: center;
    font-weight: 500;
  }

  /*  PARTE INFERIOR */

  .posts-recentes {
    padding: 40px 20px;
    gap: 40px;
  }

  .titulo-secao {
    font-size: 32px;
    text-align: center;
    font-weight: 700;
  }

  .posts-grid {
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 30px;
  }

  .post-card2 {
  background-color: #1f1f1f;
  border: 1px solid #ffffff; /* tirar quando mudar o fundo */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}

  .post-imagem-placeholder {
    height: 150px;
  }

  .post-titulo {
    font-size: 26px;
    font-weight: 700;
  }

  .post-descricao,
  .post-autor {
    font-size: 18px;
  }

  .bot-ver-todos {
    background-color: #f73b4e;
    color: #ffffff;
    padding: 13px 8px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
  }
}

/* 9°: desktop 2560px+ */

@media (min-width: 2560px) {
  article.postSeis {
    display: flex; 
  }
  
.introducao-lp {
    padding: 30px 50px 70px;
  }

  #titulo-pagina {
    font-size: 50px;
    margin-bottom: 80px;
  }

  #texto-introducao {
    font-size: 38px; 
  }


  /* PARTE INFERIOR */

  .posts-recentes {
    padding: 60px 50px; 
    gap: 60px;
  }

  .titulo-secao {
    font-size: 46px; 
  }

  .posts-grid {
     grid-template-columns: repeat(6, 1fr);
     gap: 40px; 
  }


  .post-card,
  .post-card2 {
    gap: 30px; 
  }

  .post-imagem-placeholder {
    height: 200px; 
  }

  .post-titulo {
    font-size: 35px; 
  }

  .post-descricao,
  .post-autor {
    font-size: 26px; 
  }

  .bot-ver-todos {
    padding: 20px 30px;
    font-size: 32px; 
  }
}

article.postSeis {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  article.postSeis {
    display: flex; 
  }
}
