/* PARTE DE CIMA */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  height: 100%;
  max-width: 100vw;
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

.introducao-lp {
  background-color: #f73b46;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px 50px;
}

#titulo-pagina {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 100px;
}

#texto-introducao {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}



/*  PARTE DEBAIXO */

.posts-recentes {
  background-color: #1E1E1E; 
  width: 100%;
  padding: 80px 60px; 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px; 
}

.titulo-secao {
  color: #F97583; 
  font-size: 40px;
  font-weight: 800; 
}

.posts-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px; 
  max-width: 1440px;
}

.post-card {
  background-color: #1F1F1F; 
  border: 1px solid #FFFFFF; 
  border-radius: 10px; 
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 12px; 
}

.post-imagem-placeholder {
  background-color: #D9D9D9; 
  border-radius: 5px;
  width: 100%;
  height: 150px; 
}

.post-titulo {
  color: #F73B46; 
  font-size: 24px;
  font-weight: 800; 
}

.post-descricao {
  color: #FFFFFF; 
  font-size: 16px;
  font-weight: 400; 
}

.post-autor { 
  font-size: 14px;
  font-weight: 400;
}