/* PADRONIZAÇÃO GERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/public/assets/fundo.jpg) no-repeat top center/cover;
  color: white;
  height: 100%;
  max-width: 100vw;
  /*display: flex;*/
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

main {
  width: 100%;
}

/*1°: versão base -> VERSÃO DESKTOP */

/* PARTE SUPERIOR*/

.introducao-lp {
  background-color: #f73b46;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px 50px;
}

#titulo-pagina {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 60px;
}

#texto-introducao {
  font-size: 32px;
  font-weight: 500;
  text-align: justify;
}

/*  PARTE INFERIOR */

.posts-recentes {
  width: 100%;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.titulo-secao {
  color: #f97583;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

/*
.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1440px;
  justify-items: center;
}
  */

.post-card {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 100%; */
  width: 29vw;
  flex-shrink: 0;
  margin: 0 10px;
  height: auto;
}

.post-imagem-placeholder {
  border-radius: 16px;
  width: 100%;
  height: 230px;
  background-image: url(/public/assets/fundo1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post-titulo {
  color: #f73b46;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  font-weight: 700;
}

.post-descricao,
.post-autor {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}

.bot-ver-todos {
  background-color: #f73b4e;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  transition: 0.3s; 
  cursor: pointer;
}

.bot-ver-todos:hover {
  background-color: #f97583; 
  color: white;
}
 

/* CARROSSEL */

.carrossel {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 1.5vw;
}

.titulo-do-carrossel {
  text-align: center;
  padding: 2vh;
  font-size: 2vw;
  color: #333;
  font-weight: 600;
}

.slider {
  width: 100%;
}

.slider-conteudo {
  display: flex;
  /*overflow: hidden; */
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 0;
  scrollbar-width: none; /* esconder scroll */
  -ms-overflow-style: none; 
}

.slider-conteudo::-webkit-scrollbar {
  display: none; /* esconder scroll */
}


/*
.slider-item {
   mexe com a div 
  min-width: 30vw;  espaçamento entre as imgs 
}

.slider-item img {
   mexe com a imagem 
  width: 25vw;
  height: 35vh;
  object-fit: cover;
  border-radius: 1.5vw;
  transition: transform 0.3s;
}
*/

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f97583;
  color: #000000;
  width: 3vw;
  height: 8vh;
  border-radius: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 35px;
  transition: 0.3s;
  z-index: 10;
}

.nav-arrow:hover {
  background-color: #f73b4e;
  color: white;
}

.arrow-left {
  left: 0.9vw;
}

.arrow-right {
  right: 0.9vw;
}

.radio-auto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2vh;
  margin: 1vw 0;
  gap: 0.5vw;
}

.radio-label {
  border: 0.1vw solid white;
  padding: 0.4vw;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.radio-label.active {
  background-color: red;
}
