*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}


body{
    font-family: 'JetBrains Mono', monospace;
    background-color: #1f1f1f;
    z-index: -1;
    background: none;
    overflow-x: hidden;
    background-image: url('../../public/assets/img_de_fundo_code_stroll_escura.jpg');
    opacity: 0.8;
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    padding: 0px;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../public/assets/img_de_fundo_code_stroll_escura.jpg') center/cover no-repeat;
    opacity: 1; /* controla só a opacidade do fundo */
    background-color: #1f1f1f; /* cor de fundo para quando a imagem não carregar */
    z-index: -1; /* fica atrás de todo o conteúdo */
}

.conteudo{
    max-width: 1400px;
    margin: 0 auto;
    align-items: left;
}

.conteudo .search {
    position: relative; /* Necessário para posicionar o ícone */
    max-width: 400px;
    margin-bottom: 20px;
}

.conteudo .search i {
    position: absolute;
    z-index: 1;
    top: 50%; /* Centraliza verticalmente */
    right: 10px; /* Espaçamento à direita */
    transform: translateY(-50%); /* Ajusta o alinhamento vertical */
    color: #F73B4E; /* Cor do ícone */
    font-size: 24px; /* Aumenta o tamanho do ícone */
    opacity: 1; /* Garante que o ícone esteja totalmente visível */
}

.search input{
    max-width: 400px;
    max-height: 45px;
    text-align: left; 
    margin: 0; 
    margin-bottom: 10px;
    display: block;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    color: #F5F5F5;
    
}

.search input::placeholder {
    color: #F73B4E;
    opacity: 1; 
}

.search input {
    width: 100%;
    padding: 10px 10px 10px 40px; /* Espaço interno para o ícone */
    border-radius: 100px;
    border: none;
    color: #1f1f1f; /* Cor do texto */
    background-color: #F5F5F5;
    opacity: 0.90;
}

.conteudo h1{
    font-family: 'Silkscreen', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    font-size: 75px;
    color: #F73B4E;
    text-shadow: 2px 2px 4px #F95062;
}

.post{
    max-width: 1400px;
    max-height: 325px;
    background-color: #1f1f1f;
    margin-bottom: 30px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.596);
}

.post .info{

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width: 50%; /* largura fixa */
    height: 100%;
    padding: 10px;
    overflow-wrap: break-word; /* quebra de linha para textos longos */
    word-wrap: break-word; /* compatibilidade com navegadores antigos */
    overflow: hidden; /* evita que o texto ultrapasse a box */
    text-overflow: ellipsis; /* adiciona reticências para textos muito longos */
    box-sizing: border-box; /* inclui padding e borda no tamanho total */

}

.post .imagem{
    max-width: 400px;
    max-height: 300px;
    width: 100%;  
    margin: 10px;
    border-radius: 10px;
}

.post .info .titulo_post{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 900;
    font-size: 34px; /* um pouco maior */
    color: #F73B4E; /* branco para contraste */
    text-shadow: 2px 2px 4px #F95062; /* leve sombra para destaque */
    margin-bottom: 20px;
}
.post .info .autor{
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    color: #F97583;
}

.post .info .publicacao{
    font-weight: bold;
    text-align: left;
    color: #F97583;
}
.post .resumo{
    width: 100%;
    height: 300px;
    margin: 10px;
    align-items: center;
    align-content: center;
    text-align: left;
    padding-left: 15px; 
    line-height: 1.6;
    color: #F5F5F5;
}

.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.paginacao a {
    color: #F73B4E;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.paginacao .passa_pag {
    width: auto; /* Permite que o botão se ajuste ao conteúdo */
    padding: 0 2px; /* Adiciona espaçamento horizontal */
}

.paginacao a:hover {
    background-color: #F5F5F5;
    color: #F73B4E;
    transform: scale(1.05);
}

.paginacao #atual {
    color: #f5f5f5;
    background-color: #F73B4E;
    pointer-events: none;
}

