*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'JetBrains Mono', monospace;
    background-color: #1f1f1f;
    background-image: url('../../../public/assets/img_de_fundo_code_stroll_horizontal.jpg');
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    opacity: 0.75;
    color: #ffffff;
    padding: 0px;
}

.tabela_usuarios{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela_usuarios th, .tabela_usuarios td {
    padding: 10px;
    border: 1px solid #ffffff;
    text-align: left;
}

.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.paginacao a {
    color: #F73B4E;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.paginacao .passa_pag {
    width: auto; /* Permite que o botão se ajuste ao conteúdo */
    padding: 0 2px; /* Adiciona espaçamento horizontal */
}

.paginacao a:hover {
    background-color: #F5F5F5;
    color: #F73B4E;
    transform: scale(1.05);
}

.paginacao .current-page{
    font-weight: bold;
    color: #ffffff;
}
.paginacao a#atual {
    color: #f5f5f5;
    pointer-events: none;
}
