*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: JetBrains Mono, monospace;
    background-color: #1f1f1f;
    opacity: 0,75;
    color: #ffffff;
    padding: 20px;
}

.conteudo{
    max-width: 800px;
    margin: 0 auto;
}

.conteudo h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: large;
    color: #F73B4E;
}

.search input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    text-align: center;
    placeholder: "Pesquisar posts";
}

.post{
    background-color: #333333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.post h1{
    text-align: left;
    margin-bottom: 20px;
}

.post h2{
    margin-bottom: 10px;
}
.post p{
    line-height: 1.6;
}

.paginacao{
    text-align: center;
    margin-top: 20px;
}
.paginacao a{
    color: #1e90ff;
    text-decoration: none;
    margin: 0 10px;
}
.paginacao a:hover{
    text-decoration: underline;
}
.paginacao .current-page{
    font-weight: bold;
    color: #ffffff;
}
.paginacao .disabled{
    color: #555555;
    pointer-events: none;
}

