*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'JetBrains Mono', monospace;
    background-color: #1f1f1f;
    opacity: 0.75;
    color: #ffffff;
    padding: 0px;
}

.conteudo{
    max-width: 1400px;
    margin: 0 auto;
    align-items: left;
}

.search{
    max-width: 400px;
    max-height: 45px;
    text-align: left; 
    margin: 0; 
    margin-bottom: 10px;
    display: block;
    
}

.search input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    text-align: left;
}

.conteudo h1{
    font-family: 'Silkscreen';
    text-align: center;
    margin-bottom: 30px;
    font-size: 75px;
    color: #F73B4E;
}


.posts{
    
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;
}

.post{
    max-width: 100%;
    max-height: 100%;
    background-color: #333333;
    margin-bottom: 30px;
    display: flex;
}

.post .info{
    background-color: black; /*teste de divs*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.post img{
    background-color: red; /*teste de divs*/
    width: 100%;
    height: 100%;
    
    margin-bottom: 0px;
}

.post h1 strong{
    font-family: 'jetbrains mono', monospace;
    font-size: 35px;
    text-align: left;
    margin-bottom: 20px;
}

.post h2{
    margin-bottom: 10px;
}
.post p{
    background-color: blue; /*teste de divs*/
    align-items: center;
    align-content: center;
    text-align: left;
    padding-left: 15px;
    max-width: 50%;
    max-height: 100%;
    line-height: 1.6;
}

.paginacao{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}
.paginacao a{
    color: #F73B4E;
    text-decoration: none;
    margin: 0 10px;
}
.paginacao a:hover{
    text-decoration: underline;
}
.paginacao .current-page{
    font-weight: bold;
    color: #ffffff;
}
.paginacao .disabled{
    color: #555555;
    pointer-events: none;
}

