*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/fundo\ desktop.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; 
    font-family: 'silkscreen', sans-serif;
    color: black;
    height: 100vh;

}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#Retangulo {
    width: 700px;
    height: 450px;
    background-color: #D6D5D5;
    border-radius: 50px;
} 
#profile {
    text-align: center;
    font-family: 'silkscreen', sans-serif;
}
#profile img {
    width: 150px;
    margin-top: -170px;

} 
#profile p {
    margin-top: 15px;
    font-weight: 635px;
    font-kerning: 415px;
    font-size: 50px;
}
#email {
    border: 1.75px solid;
    width: 420px;
    height: 50px;
    background-color: whitesmoke;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;            
    align-items: center;   
    padding: 0px 20px;
    margin-top: 28px; 
}
#email p {
    font-family: 'Mono JetBrains', monospace;
    font-size: 20px;
    color: #5b5853;
}
#senha {
    border: 1.75px solid;
    width: 420px;
    height: 50px;
    background-color: whitesmoke;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;            
    align-items: center;   
    padding-left: 10px; 
    margin-top: 28px;
    justify-content: space-between;
    padding: 10px 20px;
}
#int {
    border: none;
    outline: none;
    background-color: whitesmoke;
}
#senha p {
    font-family: 'Mono JetBrains', monospace;
    font-size: 20px;
    color: #5b5853;
}
#olho {
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
}
#entrar {
    margin: 0 auto;
    width: fit-content;        
    height: fit-content;
    background-color: rgba(202, 23, 42, 0.85);
    border-radius: 30px;
    display: flex;
    margin-top: 28px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#entrar p {
    font-family: 'Mono JetBrains', monospace;
    font-size: 30px;
    color: #FFFFFF;
}
#x {
    background-color:  #D6D5D5 ;
    height: fit-content;
    text-decoration: none;
    width: fit-content;
    color:inherit;
    font-family: 'jetbrains mono', monospace;
}
#empurra {
    margin-top: -30px;
    width: 100%;
    display: flex;
    align-items: start;
    padding: 0px 20px;
}
@media (min-width: 320px){
    #Retangulo{
        width: 280px;
        height: auto;
        padding-bottom: 20px;
    }
    #profile img {
        width: 100px;
        margin-top: -50px;

    }
    #profile p {
        font-size: 30px;
    }
    #email, #senha {
        width: 80%;
        height: 40px;
    }
    #email p, #senha p {
        font-size: 16px;
    }
    #entrar {
        width: fit-content;        
        height: 40px;
    }
    #entrar p {
        font-size: 16px;
    }
    #senha img {
    width: 15px;
}

}