*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url(../assets/fundo\ desktop.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font-family: 'silkscreen', sans-serif;
    color: black;

}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#Retangulo {
    width: 40%;
    height: fit-content;
    max-width: 700px;
    min-width: 150px;
    aspect-ratio: 2/1;
    background-color: #D6D5D5;
    border-radius: 50px;
}

#login{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 20px 0px;
}
.container-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "JetBrains Mono", monospace;
    width: 100%;
    height: 60%;
    gap: 40px;
}
.container-senha {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#senha, #email {
    height: fit-content;
    height: 50px;
    width: 70%;
    border-radius: 50px;
    border: none;
    padding: 10px 15px;
}
#email:hover,
#senha:hover {
    transform: scale(1.01);
}
#olhoIcon {
    position: absolute;
    right: 110px;
}
.container-entrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px 20px 0px;
}

#entrar {
    border: none;
    width: fit-content;
    height: fit-content;
    background-color: rgba(202, 23, 42, 0.85);
    border-radius: 30px;
    font-family: 'Mono JetBrains', monospace;
    font-size: 30px;
    color: #FFFFFF;
}

#entrar:hover {
    transform: scale(1.05);
}

#xis {
    background-color: #D6D5D5;
    height: fit-content;
    text-decoration: none;
    width: fit-content;
    color: inherit;
    margin: 20px 20px;
    transition: transform 0.2s ease, color 0.2 ease;
}
.bi-x{
    font-size: 35px;
}

#x:hover {
    transform: scale(1.05);
    color: #6a085a;
}
input::placeholder {
    font-family: 'jetbrains mono', monospace;
    font-size: 18px;
}
