*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: beige;
}
#barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    width: 100%;
    height: fit-content;
    padding: 10px 10px;
}
.logotipo {
    width: fit-content;
    margin: 0px 0px;
    padding: 10px 10px;
    margin-left: 0px ;
}
.logotipo img:nth-child(1) {
    height: 80px;
    width: 250x;
}
.logotipo img:nth-child(2) {
    height: 70px;
    width: 200px;
    object-fit: cover;
    display: none;
   
}
#barra-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 2px 10px;
    border: 2px solid #F73B4E;
    border-radius: 20px;
    font-family: 'jetbrains mono', monospace;
    font-size: 22px;
    gap: 500px;

    background-image: url(../assets/Search.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right 15px center;
    transition: transform 0.3s ease;
}
#barra-pesquisa:focus {
    outline: none;
    transform: scale(1.15);
    color: #F73B4E;
}
#barra-pesquisa::placeholder {
    font-family: 'jetbrains mono', monospace;
    color: #F73B4E;
    font-size: 18px;
}
#link {
    font-family: 'jetbrains mono', monospace;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin: 0px 30px;
    gap: 20px;
}
#home, #publicacoes, #sobre-nos, #login {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background-color: #F73B4E;
    border-radius: 50px;
    border: 2px solid #F73B4E;
    padding: 2px 10px;
    font-size: 22px;
    text-decoration: none;
    color: whitesmoke;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
 }       
#home:hover, #publicacoes:hover, #sobre-nos:hover, #login:hover {
    background-color: whitesmoke;
    color: #F73B4E;
    transform: scale(1.15) ;
    cursor: pointer;
}

