*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: beige;
}
#barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    width: 100%;
    height: fit-content;
    padding: 10px 10px;
}
#logotipo {
    padding: 10px 10px;
    margin-left: 0px ;
}
#logotipo img {
    height: 70px;
    width: 200x;
}
#pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
}
#barra-pesquisa {
    height: fit-content;
    width: 500px;
    border: 2px solid #F73B4E;
    border-radius: 20px;
    padding: 2px 15px;
    font-family: 'jetbrains mono', monospace;
    font-size: 22px;
    margin-left: 0px;

    background-image: url(../assets/Search.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right 15px center;
    transition: transform 0.3s ease;
}
#barra-pesquisa:focus {
    outline: none;
    transform: scale(1.15);
}
#barra-pesquisa::placeholder {
    font-family: 'jetbrains mono', monospace;
    color: #F73B4E;
    font-size: 18px;
}
#link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-right: 30px;
}
#home {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background-color: #F73B4E;
    border-radius: 50px;
    border: 2px solid #F73B4E;
    padding: 2px 10px;
    font-family: 'jetbrains mono', monospace;
    font-size: 22px;
    text-decoration: none;
    color: whitesmoke;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
#publicacoes {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background-color: #F73B4E;
    border-radius: 50px;
    border: 2px solid #F73B4E;
    padding: 2px 10px;
    font-family: 'jetbrains mono', monospace;
    font-size: 22px;
    text-decoration: none;
    color: whitesmoke;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
#sobre-nos {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background-color: #F73B4E;
    border-radius: 50px;
    border: 2px solid #F73B4E;
    padding: 2px 10px;
    font-family: 'jetbrains mono', monospace;
    font-size: 22px;
    text-decoration: none;
    color: whitesmoke;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
#login{
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background-color: #F73B4E;
    border-radius: 50px;
    border: 2px solid #F73B4E;
    padding: 2px 10px;
    font-family: 'jetbrains mono', monospace;
    font-size: 22px;
    text-decoration: none;
    color: whitesmoke;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
#home:hover, #publicacoes:hover, #sobre-nos:hover, #login:hover {
    background-color: whitesmoke;
    color: #F73B4E;
    transform: scale(1.15) ;
    cursor: pointer;
}

