*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: beige;
}

#botoes-telefone {
    display: none;
    width: 100%;
    height: fit-content;
    justify-content: center;
    padding: 10px 15px 10px 15px;

    font-family: 'jetbrains mono', monospace;
    font-size: 22px;
    

    background-color: #1f1f1f;
}
.links-telefone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 10px 20px 10px 70px;
    font-weight: 700;
}
#icon {
    display: flex;
    margin: 20px 20px 0px 0px;
    font-size: 30px;
    color: whitesmoke;
    cursor: pointer;
    padding: 11px 15px;
    margin: 0px 0px 120px 0px;
}
#barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    width: 100%;
    height: fit-content;
    padding: 10px 20px 10px 10px;
}
.logotipo {
    width: fit-content;
    margin: 0px 0px;
    padding: 10px 10px;
    margin-left: 0px ;
}
.logotipo img:nth-child(1) {
    height: 80px;
    width: 250x;
}
.logotipo img:nth-child(2) {
    object-fit: cover;
    display: none;
   
}
#hamburguericon {
    margin-left: 20px;
    font-size: 30px;
    color: whitesmoke;
    cursor: pointer;
}
#barra-pesquisa {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 2px 10px;
    border: 2px solid #F73B4E;
    border-radius: 20px;
    font-family: 'jetbrains mono', monospace;
    font-size: 22px;

    background-image: url(../assets/Search.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right 15px center;
}
#barra-pesquisa:focus {
    outline: none;
    color: #F73B4E;
}
#barra-pesquisa::placeholder {
    display: flex;
    justify-content: center;
    font-family: 'jetbrains mono', monospace;
    color: #F73B4E;
    font-size: 18px;
}
#link {
    font-family: 'jetbrains mono', monospace;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin: 0px 30px;
    gap: 20px;
}
#home, #publicacoes, #sobre-nos, #login {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background-color: #F73B4E;
    border-radius: 50px;
    border: 2px solid #F73B4E;
    padding: 8px 10px;
    font-size: 22px;
    text-decoration: none;
    color: whitesmoke;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
 }       
#home:hover, #publicacoes:hover, #sobre-nos:hover, #login:hover {
    background-color: whitesmoke;
    color: #F73B4E;
    transform: scale(1.15) ;
    cursor: pointer;
}
@media (min-width: 320px){
    .logotipo img:nth-child(1) {
        display: none;
    }
    .logotipo img:nth-child(2) {
        display: block;
        height: 70px;
    }
    #barra-pesquisa {
        width: 45%;;
        height: fit-content;
        background-size: 15px 15px;
        padding: 0px 10px 4px;
        background-position: right 10px center;
    }
    #input barra-pesquisa {
        font-size: 10px;
    }
    #barra-pesquisa::placeholder {
        font-size: 14px;
    }
    #link{
        display: none;
    }

}
@media (min-width: 425px){
    #barra-pesquisa {
        width: 60%;
    }
    .links-telefone {
        margin: 10px 20px 10px 120px;
    }
    #icon {
        margin: 0px 0px 120px 30px;
    }
}
@media (min-width: 768px){
    #barra-pesquisa {
        width: 60%;
    }
    .logotipo img:nth-child(2) {
        height: 75px;
        width: 100px;
    }
    #hamburguericon {
        margin-right: 35px;
        font-size: 35px;
    }
    .links-telefone {
        margin: 10px 20px 10px 220px;
    }
    #icon {
        margin: 0px 0px 140px 100px;
        font-size: 40px;
    }
}
@media (min-width: 1024px){
    #barra-pesquisa {
        width: 20%;
        padding: 5px 10px;
    }
    #barra-pesquisa::placeholder {
        font-size: 18px;
    }
    .logotipo img:nth-child(1) {
        display: block;
        width: 180px;
    }
    .logotipo img:nth-child(2) {
            display: none;
    }
    #hamburguericon {
        display: none;
    }
    #link{
        display: flex;
        margin: 0px 0px 0px 0px;
    }   
}
@media (min-width: 1440px){
    #barra-pesquisa {
        width: 30%;
        padding: 10px 15px;
        border-radius: 25px;
        background-size: 25px 25px;
    }
    #barra-pesquisa::placeholder {
        font-size: 26px;
    }
    
    #home, #publicacoes, #sobre-nos, #login {
        font-size: 26px;
        padding: 8px 15px;
    }
}
@media (min-width: 1920px){
    #barra-pesquisa {
        width: 40%;
        padding: 15px 20px;
        border-radius: 30px;
        background-size: 30px 30px;
    }
    #barra-pesquisa::placeholder {
        font-size: 32px;
    }
    
    #home, #publicacoes, #sobre-nos, #login {
        font-size: 32px;
        padding: 10px 20px;
    }
}
@media (min-width: 2560px){
    #barra-pesquisa {
        width: 30%;
        padding: 30px 25px;
        border-radius: 70px;
        font-size: 40px;
        background-size: 45px 45px;
        background-position: right 25px center;
    }
    #barra-pesquisa::placeholder {
        font-size: 40px;
    }
    .logotipo img:nth-child(1) {
        height: 200px;
        width: 350px;
    }
    
    #home, #publicacoes, #sobre-nos, #login {
        font-size: 50px;
        padding: 15px 25px;
    }
} 