*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: beige;
}
#barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    width: 100%;
    height: fit-content;
    padding: 10pxs 10px;
}
#logotipo {
    padding: 10px 10px;
    margin-left: 0px ;
}
#logotipo img {
    height: 100px;
    width: 200x;
}
#pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
}
#barra-pesquisa {
    height: fit-content;
    width: 400px;
    border: 2px solid #F73B4E;
    border-radius: 20px;
    padding: 2px 10px;
    font-family: 'jetbrains mono', monospace;
    font-size: 18px;
    margin-left: -100px;

    background-image: url(../assets/Search.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right 15px center;
}
#barra-pesquisa::placeholder {
    font-family: 'jetbrains mono', monospace;
    color: #F73B4E;
    font-size: 18px;
}
#links {
    display: flex;
    gap: 100px;
}
#home {
    width: fit-content;
    height: fit-content;
    background-color: #F73B4E;
    border-radius: 50px;
    border: 2px solid #F73B4E;
    padding: 2px 10px;
    font-family: 'jetbrains mono', monospace;
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke;
}
#publicacoes {
    width: fit-content;
    height: fit-content;
    background-color: #F73B4E;
    border-radius: 50px;
    border: 2px solid #F73B4E;
    padding: 2px 10px;
    font-family: 'jetbrains mono', monospace;
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke;
}
#sobre-nos {
    width: fit-content;
    height: fit-content;
    background-color: #F73B4E;
    border-radius: 50px;
    border: 2px solid #F73B4E;
    padding: 2px 10px;
    font-family: 'jetbrains mono', monospace;
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke;
}
#login{
    width: fit-content;
    height: fit-content;
    background-color: #F73B4E;
    border-radius: 50px;
    border: 2px solid #F73B4E;
    padding: 2px 10px;
    font-family: 'jetbrains mono', monospace;
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke;
}

