@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: url(/public/assets/fundo.jpg) no-repeat top center/cover; */
  display: flex;
  background-color: #edebee;
  font-family: "Poppins", sans-serif;
}

main 
{
    padding: 3rem;
    /* color: white; */
}

.sidebar {
  background: linear-gradient(90deg, #ff9800,#B392F0);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 0.8rem;
  border-radius: 0 8px 8px 0;
  color: #edebee;
  width: 11rem;
}

.top-sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#perfil-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  min-height: 3.5rem;
}

#perfil-sidebar img {
  border-radius: 50%;
  object-fit: contain;
  height: 5.5rem;
  width: 5.5rem;
}

.toggle-sidebar {
  cursor: pointer;
  transition: all 0.5s ease;
}

.toggle-sidebar:hover {
  scale: 1.2;
}

.content-sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.item-sidebar {
  list-style: none;
  transition: all 0.2s ease;
}

/*.item-sidebar:hover {
  scale: 1.05;
}
*/

.item-sidebar a {
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.3s;
  display: flex; 
  align-items: center; 
  gap: 0.5rem; 
  padding: 0.3rem 0.8rem 0.3rem 0; 
  border-radius: 8px; 
}

.item-sidebar a:hover {
background-color: #8e5de95d;   
transform: scale(1.05);     
}

.item-description {
  transition: opacity 0.5s ease;
  white-space: nowrap;
  font-size: 1rem;
}

/*
.active {
  border-bottom: 2px solid #edebee;  /* opcional
*/

#button-logout {
  background-color: #8e5de9;
  color: whitesmoke;
  border-radius: 8px;
  padding: 0.8rem;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.logout-sidebar {
 width: 92%; 
 display: flex;
 justify-content: center;
}

#button-logout:hover {
  background-color: whitesmoke;
  color: #8e5de9;
}

.closed-sidebar {
  width: 4rem; 
}

.closed-sidebar .item-description {
  width: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.closed-sidebar #perfil-sidebar img {
  display: none;
}

.closed-sidebar #perfil-sidebar {
  justify-content: center;
}

.closed-sidebar .item-sidebar a {
  display: flex;
  justify-content: center;
}

.closed-sidebar #button-logout .item-description {
  display: none;
}

.closed-sidebar .toggle-sidebar {
  transform: rotate(180deg);
}

/* RESPONSIVIDADE */

/* 1°: Base Mobile (0px - 424px) */
html {
  font-size: 15px; 
}

/* 2° Mobile maior (425px a 767px) */
@media (min-width: 425px) {
  html {
    font-size: 16px; 
  }
}

/* 3°: Tablets (768px - 1023px) */
@media (min-width: 768px) {
  html {
    font-size: 17px; 
  }
}

/* 4°: Notebook (1024px a 1439px) */
@media (min-width: 1024px) {
  html {
    font-size: 17px; 
  }
  .content-sidebar ul {
    gap: 1.2rem; 
  }
}

/* 5°: Desktop (1440px a 2559px) */
@media (min-width: 1440px) {
  html {
    font-size: 19px; 
  }
}


/* 6°: Telas enormes (2560px e acima) */
@media (min-width: 2560px) {
  html {
    font-size: 30px; 
  }
}


/* esconder ícones em telas de até 767px quando a sidebar tiver aberta 
@media (max-width: 767px) {
  .sidebar:not(.closed-sidebar) .item-sidebar a i {
    display: none;
  }
}

*/
