body{
    margin: 0;
    background: white;
}

.pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    width: 100%;
}

.introducao{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}

.img_logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.logos{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

#primary_img{
    width: 70%;
    height: 100%;
    display: flex;
    object-fit: cover;
    border: none;
    border-radius: 8px;
}

.sobre_nos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#txt_sn{
    padding: 10px 60px;
    text-align: center;
}

.txt{
    padding: 0px 40px;
}

.texto{
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    text-align: center;
}

.mvv{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    background: rgb(129, 68, 185);
    padding: 20px 0px;
}

.missao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: white;
    border: 1px;
    border-radius: 8px;
}

.visao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: white;
    border: 1px;
    border-radius: 8px;
}

.valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: white;
    border: 1px;
    border-radius: 8px;
}

.bi{
    font-size: 30px;
    color: white;
}

.li{
    font-size: 40px;
    color: rgb(129, 68, 185);
}

.title{
    font-size: 30px;
}

.cards{
    display: flex;
    width: 30vw;
    height: 65vh;
    padding: 30px 0px;
    justify-content: space-between;
}

.cards:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.botao{
    background: rgb(129, 68, 185);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
}

.juncao_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}


@media(min-width: 320px) {
  
}

@media(min-width: 375px) {
   
}

@media(min-width: 425px) {

}

@media(min-width: 768px) {

}

@media(min-width: 1024px) {

}

@media(min-width: 1440px) {

}

@media(min-width: 1920px) {

}

@media(min-width: 2560px) {
    
}
