body{
    margin: 0;
    background: grey;
    padding: 20px;
}

.pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100vh;
}

.introducao{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


#primary_img{
    width: 80vw;
    height: 40vh;
    display: flex;
    border: 1px solid;
    border-radius: 12px;
    object-fit: contain;
}

.sobre_nos{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: white;
}

.texto{
    margin: 0;
}

.mvv{
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    background: green;
    padding: 20px;
}

.missao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background: greenyellow;
    border: 1px;
    border-radius: 8px;
    padding: 10px;
}

.visao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background: greenyellow;
    border: 1px;
    border-radius: 8px;
    padding: 10px;
}

.valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background: greenyellow;
    border: 1px;
    border-radius: 8px;
    padding: 10px;
}

.bi{
    font-size: 24px;
}

