body{
    background-color: black;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.redes_sociais{
    display: flex;
    flex-direction: column;

}

.texto_redes{


}

.logos{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logo_blog{
    width: 200px;
    height: 200px;

}

.contato_assinatura{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.contato{


}

.telefone{


}

.email{


}

.assinatura{


}

p{
    color: white;
}
