body{

}

.navbar{

}

.conteudo{


}

.barra_pesquisa{


}

.tabela{
    background: linear-gradient(135deg, #fbbf24, #a78bfa);
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 80%;
    overflow-x: auto;
}

table{
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 10px;
}

thead tr{
    background: linear-gradient(135deg, #fbbf24, #a78bfa);
    color: #000;
    text-align: left;
    font-weight: bold;
    border-radius: 8px;
}

thead th{
    padding: 12px;
}

tbody tr{
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
}

td {
  padding: 12px;
  vertical-align: middle;
}


.acoes {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
}

.btn-primary {
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  background-color: #a78bfa;
  color: #fff;
}

