
.body{
    display: flex;
    margin: auto;
    padding: 50px;
}

.teste
{
    display: flex;
    width: 1500px;
    height: 1500px;
    margin: 0px;
    flex-direction: column;
    gap: 0px;


}

.main-div{

    display: flex;
    margin: auto;
    width: 1200px;
    height: 600px;

    background-color: black;
    border: 1px solid;
    border-radius: 12px;

}

.second{
    display: flex;
    margin: auto;
    width: 300px;
    height: 200px;
    background-color: green;
}

.third{
    display: flex;
    margin: auto;
    
    width: 300px;
    height: 200px;

    background-color: blue;


}