* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    align-items: end;
}

.conteudo {
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    padding: 20px;
}

.redes_sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.texto_redes p {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
}

.logos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logo_blog {
    width: fit-content;
    height: fit-content;
}

#main_imagem {
    width: 200px;
    height: 200px;
}

.contato_assinatura {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.contato {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "JetBrains Mono", monospace;
}

.telefone {
    display: flex;
}

.email {
    display: flex;
}

.second_imagem {
    width: 200px;
    height: 200px;
}

.redes_logo {
    display: flex;
    width: 50vw;
    justify-content: space-between;
}


@media(min-width: 320px) {
    body {
        width: 100vw;
    }

    .conteudo {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .redes_sociais {
        align-items: center;
        width: 100%;
        height: fit-content;
    }

    .texto_redes p {
        display: none;
    }

    .logos {
        flex-direction: row;
        gap: 20px;
        width: 80%;
        height: fit-content;
        justify-content: space-between;
    }

    .logos_img{
        font-size: 30px;
    }

    #main_imagem {
        width: 120px;
        height: 80px;
    }

    .contato_assinatura {
        flex-direction: row;
        width: 100%;
        gap: 20px;
        justify-content: space-between;
    }

    #second_imagem {
        width: 100px;
        height: 100px;

    }

    .redes_logo {
        flex-direction: column;
        width: fit-content;
        gap: 30px;
    }

    .contato {
        gap: 20px;
    }

    .titulo_contato {
        font-size: 14px;
    }

    .texto_contato {
        font-size: 12px;
    }
}

@media(min-width: 425px) {
    .conteudo {
        padding: 20px;
        gap: 40px;
    }

    .redes_sociais {
        gap: 0px;
    }

    .logos {
        gap: 20px;
    }

    .logos1 {
        gap: 30px;
    }

    .logos1 img {
        width: 40px;
        height: 40px;
    }

    #main_imagem {
        width: 140px;
        height: 100px;
    }

    .contato_assinatura {
        gap: 30px;
    }

    #second_imagem {
        width: 120px;
        height: 120px;
    }

    .redes_logo {
        gap: 30px;
    }

    .contato {
        gap: 20px;
    }

    .titulo_contato {
        font-size: 16px;
    }

    .texto_contato {
        font-size: 14px;
    }

}

@media(min-width: 768px) {
    .conteudo {
        padding: 20px;
        flex-direction: row;
    }

    .redes_sociais {
        display: flex;
        width: auto;
        flex-direction: column;
        gap: 20px;
        justify-content: left;
    }

    .redes_logo {
        display: flex;
        width: fit-content;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
    }

    .texto_redes p {
        display: flex;
        font-size: 20px;
        text-align: center;
    }

    .logos {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        justify-content: center;
    }

    .logo_blog {
        width: fit-content;
        height: fit-content;
        padding-top: 0px;
        justify-content: center;
    }

    .logos1 {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .logos1 img {
        width: 30px;
        height: 30px;
    }

    #main_imagem {
        width: 120px;
        height: 80px;
    }

    .contato_assinatura {
        display: flex;
        width: auto;    
        flex-direction: row;
        align-items: center;
        gap: 50px;
        justify-content: right;
    }

    .titulo_contato {
        font-size: 20px;
    }

    .texto_contato {
        font-size: 12px;
    }

    #second_imagem {
        width: 80px;
        height: 80px;
    }

    .contato {
        gap: 20px;
    }
}

@media(min-width: 1024px) {
    .redes_sociais {
        gap: 20px;
    }

    .redes_logo {
        gap: 200px;
    }

     .logos {
        gap: 20px;
    }

     .logos1 {
        gap: 20px;
    }

    .logos1 img {
        width: 36px;
        height: 36px;
    }

    .texto_redes p {
        font-size: 24px;
    }

    #main_imagem {
        width: 140px;
        height: 100px;
    }

    .contato_assinatura {
        gap: 50px;
    }

    .titulo_contato {
        font-size: 24px;
    }

    .texto_contato {
        font-size: 14px;
    }

    #second_imagem {
        width: 100px;
        height: 100px;
    }

    .contato {
        gap: 20px;
    }
}

@media(min-width: 1440px){
    .conteudo {
        padding: 30px;
    }

    .redes_sociais {
        gap: 20px;
    }

    .redes_logo {
        gap: 340px;
    }

     .logos {
        gap: 20px;
    }

     .logos1 {
        gap: 20px;
    }

    .logos1 img {
        width: 45px;
        height: 45px;
    }

    .texto_redes p {
        font-size: 32px;
    }

    #main_imagem {
        width: 160px;
        height: 120px;
    }

    .titulo_contato {
        font-size: 32px;
    }

    .texto_contato {
        font-size: 16px;
    }

    #second_imagem {
        width: 120px;
        height: 120px;
    }
}

@media(min-width: 1920px) {
    .conteudo {
        padding: 30px;
    }

    .redes_sociais {
        gap: 30px;
    }

    .redes_logo {
        gap: 500px;
    }

     .logos {
        gap: 30px;
    }

     .logos1 {
        gap: 30px;
    }

    .logos1 img {
        width: 55px;
        height: 55px;
    }

    .texto_redes p {
        font-size: 42px;
    }

    #main_imagem {
        width: 200px;
        height: 160px;
    }

    .titulo_contato {
        font-size: 42px;
    }

    .texto_contato {
        font-size: 24px;
    }

    #second_imagem {
        width: 160px;
        height: 160px;
    }
}

@media(min-width: 2560px) {
    .conteudo {
        padding: 50px;
    }

    .redes_sociais {
        gap: 40px;
    }

    .redes_logo {
        gap: 700px;
    }

     .logos {
        gap: 40px;
    }

     .logos1 {
        gap: 40px;
    }

    .logos1 img {
        width: 70px;
        height: 70px;
    }

    .texto_redes p {
        font-size: 52px;
    }

    #main_imagem {
        width: 280px;
        height: 200px;
    }

    .titulo_contato {
        font-size: 52px;
    }

    .texto_contato {
        font-size: 32px;
    }

    #second_imagem {
        width: 200px;
        height: 200px;
    }
}