
body{
    background: url(../assets/PVI.png) no-repeat top center/cover;
    display: flex;
    margin: auto;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;
    padding-bottom: 80px;
    gap: 20px;
}
    
.conteudo
{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
    flex-direction: column;
    gap: 30px;
}

.hero_section{

    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
    gap: 10px;

    /*background-color: rgb(235, 20, 20);*/
    flex-direction: column;
}

.titulo_post{
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: center;

    font-family: "Silkscreen", sans-serif;
    font-size: 52px;
    color: #C2A9EF;
}

.autor_datapub{
    display: flex;
    justify-content: space-between;

    font-family: "JetBrains Mono", monospace;
    font-size: 24px;
    color: #F1F1F1;

}

.autor{
    display: flex;

}

.datapub{
    display: flex;

}

.imagem{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;

    border: 1px solid;
    border-radius: 12px;

}

#main_imagem{
    width: fit-content;
    height: 100%;

}

.descricao{
    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
    /*background-color: green;*/
    color (F1,F1,F1);

    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    color: #F1F1F1;
}

.mais_recentes{
    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
    /*background-color: blue;*/
    flex-direction: column;
    gap: 30px; 
    padding-bottom: 20px;

}

.texto_maisrecentes{
    display: flex;

    font-family: "JetBrains Mono", monospace;
    font-size: 48px;
    color: #C2A9EF;
}

.cards{
    display: flex;
    width: 80%;
    height: auto;

    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.25);

    border-radius: 8px;

}

.imagem_card{
    display: flex;
    width: 300px;
    height: 280px;
    margin: auto;

}

.texto_card{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    gap: 12px;

    font-family: "JetBrains Mono", monospace;
    
}

.titulo_texto_card{
    display: flex;
    
    font-size: 32px;
    color: #F73B4E;
}

.autor_datapub_card{
    display: flex;
    flex-direction: column;

    font-size: 20px;
    color: #F97583;

}

.descricao_card{
    display: flex;

    font-size: 20px;
    color: #F1F1F1;

}

p{
    margin: 0;
}