
body{
    background: url(../assets/PVI.png) no-repeat top center/cover;
    display: flex;
    margin: auto;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;
    padding-bottom: 80px;
    gap: 20px;
}
    
.conteudo
{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
    flex-direction: column;
    gap: 30px;
}

.hero_section{

    display: flex;
    margin: auto;
    width: 100%;
    height: auto;

    background-color: rgb(235, 20, 20);
    border: 1px solid;
    border-radius: 12px;
    flex-direction: column;
}

.titulo{
    display: flex;

}

.autor_datapub{


}

.imagem{
    display: flex;
    border: 1px solid;
    border-radius: 12px;

}

.descricao{
    display: flex;
    margin: auto;
    width: 100%;
    height: 200px;
    background-color: green;
}

.mais_recentes{
    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: blue;
    flex-direction: column;
    gap: 30px;
    padding-right: 100px;

}

.texto_maisrecentes{
    display: flex;

}

.cards{
    display: flex;
    width: 100%;
    height: auto;
    background-color: purple;
    border-radius: 8px;
    padding: ;

}

.imagem_card{
    display: flex;

}

.texto_card{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;

}

/*