* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;

    height: 100vh;
    align-items: end;
}

.conteudo {
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    padding: 20px;
}

.redes_sociais {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: fit-content;
}

.texto_redes p {
    color: white;
    font-size: 30px;
    text-align: center;

}

.logos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.logo_blog {
    width: 200px;
    height: 200px;

}

.main_imagem {
    width: 200px;
    height: 200px;

}

.contato_assinatura {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.contato {
    color: white;
    display: flex;
    flex-direction: column;

}

.telefone {
    display: flex;

}

.email {
    display: flex;

}

.second_imagem {
    width: 200px;
    height: 200px;

}

.redes_logo {
    display: flex;
    width: 50vw;
    justify-content: space-between;
}


@media(min-width: 320px) {
    body {
        display: flex;

        height: 100vh;
        width: 100vw;
        align-items: end;
    }

    .conteudo {
        background-color: black;
        display: flex;
        justify-content: space-between;
        width: 100vw;
        height: auto;
        padding: 20px 30px;
    }

    .redes_sociais {
        display: flex;
        flex-direction: column;
        gap: 0px;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }

    .texto_redes p {
        color: white;
        font-size: 30px;
        text-align: center;
        display: none;
    }

    .logos {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: fit-content;
        height: fit-content;
    }

    .logos1{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .logos1 img{
        width: 30px;
        height: 30px;
    }

    .logo_blog {
        width: fit-content;
        height: fit-content;

    }

    .main_imagem {
        width: 100px;
        height: 80px;

    }

    .contato_assinatura {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .second_imagem {
        width: 100px;
        height: 100px;

    }

    .redes_logo {
        flex-direction: column;
        width: fit-content;
        gap: 30px;
    }

    .contato{
        gap: 20px;
    }

    .titulo_contato{
        font-size: 14px;
    }

    .texto_contato{
        font-size: 12px;
    }
}