<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <link rel="stylesheet" href="../../../public/css/dashboard.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div id="container">
        <div id="links">
            <a href="link-lista-de-usuarios" id="usuarios">Lista de usuários</a>
            <a href="link-lista-de-posts" id="posts"> Lista de posts</a>
        </div>
        <button id="logout"> Logout </button>
    </div>
    
</body>
</html>
 