<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Lista de Posts</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/css/lista_de_posts.css" /> 
</head>
<body>
    <div class="conteudo">
        <h1>Lista de Usuários</h1>       
        
        <div class = "search">
            <i class="material-icons">search</i>
            <input type="search" placeholder="Pesquisar">
        </div>

        <div class = "tabela_usuarios">
            
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                </tr>
            </table>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jane Doe</td>
                    <td>exemplo@email.com</td>
                    <td><button class="visualizar">Visualizar</button> <button class="editar">Editar</button> <button class="excluir">Excluir</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>João Silva</td>
                    <td>exemplo2@email.com</td>
                    <td><button class="visualizar">Visualizar</button> <button class="editar">Editar</button> <button class="excluir">Excluir</button></td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Maria Oliveira</td>
                    <td>exemplo3@email.com</td>
                    <td><button class="visualizar">Visualizar</button> <button class="editar">Editar</button> <button class="excluir">Excluir</button></td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Eduardo Santos</td>
                    <td>exemplo3@email.com</td>
                    <td><button class="visualizar">Visualizar</button> <button class="editar">Editar</button> <button class="excluir">Excluir</button></td>
                </tr>

            </tbody>
             
        </div>

        <div class = "paginacao">
                <a href="#" class="passa_pag"><i class="material-icons">arrow_back</i> Anterior</a>
                <a href="#" id="atual">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">...</a>
                <a href="#">67</a>
                <a href="#">68</a>
                <a href="#">69</a>
                <a href="#" class="passa_pag">Próximo <i class="material-icons">arrow_forward</i></a>
            </div>

    </div>

</body>
</html>