<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/css/navbar.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
<div id="barra">
  <div id="logotipo">
    <img src="../../../public/assets/Logo.png" alt="Logotipo da empresa">
  </div>

  <div id="pesquisa">
    <input type="text" id="barra-pesquisa" placeholder="Pesquisar...">
  </div>

    <div id="link">
      <a href="link home" id="home">Home</a>
      <a href="link publicaões" id="publicacoes">Publicações</a>
      <a href="link sobre nós" id="sobre-nos">Sobre-nós</a>
      <a href="link do login" id="login">Login</a>
    </div>
</div>
</body>
</html>