<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles_tabela_posts.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div id="tela"></div>

    <div class="navbar">
        <p id="texto_post">TABELA DE POSTS</p>
        <button id="criar" onclick="abrirModal('modal-criar')"><i class="bi bi-plus-lg"></i></button>
    </div>

    <div class="conteudo">
        <div class="barra_pesquisa">
            <button id="pesquisa">
                <p>PESQUISAR</p>
                <i class="bi bi-search"></i>
            </button>
        </div>
        <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th id="teste1">ID</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Data de criação</th>
                        <th id="teste2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="teste3 teste4">1</td>
                        <td class="teste4">O Futuro da IA</td>
                        <td class="teste4">Jane Doe</td>
                        <td class="teste4">22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"
                                onclick="abrirModalVisualizar('1', 'O Futuro da IA', 'Jane Doe', '22/03/2025', 'url/da/imagem.png', 'Many desktop publishing packages...')">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button type="button" class="btn-primary"
                                onclick="abrirModalEditar('1', 'O Futuro da IA', 'Jane Doe', '2025-03-22', 'url/da/imagem.png', 'Many desktop publishing packages...')">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button type="button" class="btn-primary" onclick="abrirModalExcluir('1', 'O Futuro da IA')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="teste3 teste4">2</td>
                        <td class="teste4">Desvendando o Rust</td>
                        <td class="teste4">Luíza</td>
                        <td class="teste4">22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"
                                onclick="abrirModalVisualizar('2', 'Desvendando o Rust', 'Luíza', '22/03/2025', 'url/da/imagem.png', 'Many desktop publishing packages...')">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button type="button" class="btn-primary"
                                onclick="abrirModalEditar('2', 'Desvendando o Rust', 'Luíza', '2025-03-22', 'url/da/imagem.png', 'Many desktop publishing packages...')">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button type="button" class="btn-primary" onclick="abrirModalExcluir('2', 'Desvendando o Rust')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="teste3 teste4">3</td>
                        <td class="teste4">Computação Quântica</td>
                        <td class="teste4">Leonardo</td>
                        <td class="teste4">21/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"
                                onclick="abrirModalVisualizar('3', 'Computação Quântica', 'Leonardo', '21/03/2025', 'url/da/imagem.png', 'Many desktop publishing packages...')">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button type="button" class="btn-primary"
                                onclick="abrirModalEditar('3', 'Computação Quântica', 'Leonardo', '2025-03-21', 'url/da/imagem.png', 'Many desktop publishing packages...')">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button type="button" class="btn-primary" onclick="abrirModalExcluir('3', 'Computação Quântica')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="teste3 teste4">4</td>
                        <td class="teste4">Segurança em IoT</td>
                        <td class="teste4">Patrícia</td>
                        <td class="teste4">20/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"
                                onclick="abrirModalVisualizar('4', 'Segurança em IoT', 'Patrícia', '20/03/2025', 'url/da/imagem.png', 'Many desktop publishing packages...')">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button type="button" class="btn-primary"
                                onclick="abrirModalEditar('4', 'Segurança em IoT', 'Patrícia', '2025-03-20', 'url/da/imagem.png', 'Many desktop publishing packages...')">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button type="button" class="btn-primary" onclick="abrirModalExcluir('4', 'Segurança em IoT')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="teste3 teste4">5</td>
                        <td class="teste4">WebAssembly</td>
                        <td class="teste4">Luiz Felipe</td>
                        <td class="teste4">19/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"
                                onclick="abrirModalVisualizar('5', 'WebAssembly', 'Luiz Felipe', '19/03/2025', 'url/da/imagem.png', 'Many desktop publishing packages...')">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button type="button" class="btn-primary"
                                onclick="abrirModalEditar('5', 'WebAssembly', 'Luiz Felipe', '2025-03-19', 'url/da/imagem.png', 'Many desktop publishing packages...')">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button type="button" class="btn-primary" onclick="abrirModalExcluir('5', 'WebAssembly')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="foot">
                <button class="botao_foot1"><i class="bi bi-arrow-left-circle"></i></button>
                <button class="botao_foot pagina-ativa">1</button>
                <button class="botao_foot">2</button>
                <button class="botao_foot">3</button>
                <button class="botao_foot">4</button>
                <button class="botao_foot1"><i class="bi bi-arrow-right-circle"></i></button>
            </div>
        </div>
    </div>

    <div id="modal-delete">
        <h3 id="delete-modal-title">Excluir Post</h3>
        <p id="delete-modal-text">Tem certeza que deseja excluir este post?</p>
        <div class="modal-buttons">
            <button type="button" id="btn-submit-excluir" class="btn-excluir">Excluir</button>
            <button type="button" class="btn-cancelar" onclick="fecharModal('modal-delete')">Cancelar</button>
        </div>
    </div>

   <div id="modal-visualizar">
        <h3 id="visualizar-titulo">Detalhes do Post</h3>
        <p><strong>ID:</strong> <span id="view-id"></span></p>
        
        <p><strong>Imagem:</strong></p>
        <img id="view-imagem" src="" alt="Imagem do Post" style="max-width: 100%; border-radius: 10px; margin-bottom: 10px;">
        
        <p><strong>Título:</strong> <span id="view-titulo"></span></p>
        
        <p><strong>Descrição:</strong> <span id="view-descricao" style="word-break: break-word;"></span></p>
        
        <p><strong>Autor:</strong> <span id="view-autor"></span></p>
        <p><strong>Data:</strong> <span id="view-data"></span></p>
        
        <button id="sair" onclick="fecharModal('modal-visualizar')">Fechar</button>
    </div>

    <div id="modal-criar">
        <h3>Criar Novo Post</h3>
        <form class="modal-form">
            <div class="form-group">
                <label for="criar-imagem">URL da Imagem:</label>
                <input type="text" id="criar-imagem" required />
            </div>

            <div class="form-group">
                <label for="criar-titulo">Título:</label>
                <input type="text" id="criar-titulo" required />
            </div>

            <div class="form-group">
                <label for="criar-descricao">Descrição:</label>
                <textarea id="criar-descricao" rows="4" required></textarea>
            </div>

            <div class="form-group">
                <label for="criar-autor">Autor:</label>
                <input type="text" id="criar-autor" required />
            </div>

            <div class="form-group">
                <label for="criar-data">Data:</label>
                <input type="date" id="criar-data" required readonly />
            </div>
            </form>
        <p id="modal-criar-erro" class="modal-erro"></p>
        <div class="modal-buttons">
            <button type="button" id="btn-submit-criar" class="btn-salvar">Criar</button>
            <button type="button" class="btn-cancelar" onclick="fecharModal('modal-criar')">Cancelar</button>
        </div>
    </div>

    <div id="modal-editar">
        <h3>Editar Post</h3>
        <form class="modal-form">
            <input type="hidden" id="editar-id">
            
            <div class="form-group">
                <label for="editar-imagem">URL da Imagem:</label>
                <input type="text" id="editar-imagem" required />
            </div>
            <div class="form-group">
                <label for="editar-titulo">Título:</label>
                <input type="text" id="editar-titulo" required />
            </div>

            <div class="form-group">
                <label for="editar-descricao">Descrição:</label>
                <textarea id="editar-descricao" rows="4" required></textarea>
            </div>

            <div class="form-group">
                <label for="editar-autor">Autor:</label>
                <input type="text" id="editar-autor" required />
            </div>
             <div class="form-group">
                <label for="editar-data">Data:</label>
                <input type="date" id="editar-data" required />
            </div>
        </form>
        <p id="modal-editar-erro" class="modal-erro"></p>
        <div class="modal-buttons">
            <button type="button" id="btn-submit-editar" class="btn-salvar">Salvar</button>
            <button type="button" class="btn-cancelar" onclick="fecharModal('modal-editar')">Cancelar</button>
        </div>
    </div>
</body>

<script src="../../../public/js/tabela_post.js"></script>

</html>