<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles_tabela_posts.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="navbar">
        <p id="texto_post">TABELA DE POSTS</p>
        <button id="criar"><i class="bi bi-plus-lg"></i></button>
    </div>
    <div class="conteudo">
        <div class="barra_pesquisa">
            <button id="pesquisa">
                <p>PESQUISAR</p>
                <i class="bi bi-search"></i>
            </button>
        </div>
        <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th id="teste1">ID</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Data de criação</th>
                        <th id="teste2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="teste3 teste4">1</td>
                        <td class="teste4">Teste</td>
                        <td class="teste4">Marcos</td>
                        <td class="teste4">22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"><i class="bi bi-eye"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="teste3 teste4">1</td>
                        <td class="teste4">Teste</td>
                        <td class="teste4">Marcos</td>
                        <td class="teste4">22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"><i class="bi bi-eye"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="teste3 teste4">1</td>
                        <td class="teste4">Teste</td>
                        <td class="teste4">Marcos</td>
                        <td class="teste4">22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"><i class="bi bi-eye"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="teste3 teste4">1</td>
                        <td class="teste4">Teste</td>
                        <td class="teste4">Marcos</td>
                        <td class="teste4">22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"><i class="bi bi-eye"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="teste3 teste4">1</td>
                        <td class="teste4">Teste</td>
                        <td class="teste4">Marcos</td>
                        <td class="teste4">22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"><i class="bi bi-eye"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="teste3 teste4">1</td>
                        <td class="teste4">Teste</td>
                        <td class="teste4">Marcos</td>
                        <td class="teste4">22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"><i class="bi bi-eye"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="teste3 teste4">1</td>
                        <td class="teste4">Teste</td>
                        <td class="teste4">Marcos</td>
                        <td class="teste4">22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"><i class="bi bi-eye"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="teste3 teste4">1</td>
                        <td class="teste4">Teste</td>
                        <td class="teste4">Marcos</td>
                        <td class="teste4">22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"><i class="bi bi-eye"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="teste3 teste4">1</td>
                        <td class="teste4">Teste</td>
                        <td class="teste4">Marcos</td>
                        <td class="teste4">22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"><i class="bi bi-eye"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="foot">
                    <button class="botao_foot1"><i class="bi bi-arrow-left-circle"></i></button>
                    <button class="botao_foot">1</button>
                    <button class="botao_foot">2</button>
                    <button class="botao_foot">3</button>
                    <button class="botao_foot">4</button>
                    <button class="botao_foot1"><i class="bi bi-arrow-right-circle"></i></button>
                </div>
        </div>
    </div>

</body>

</html>