<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles_tabela_posts.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="navbar">
        <img src="../../../public/assets/logo sem fundo.png" alt="" id="imagem_logo">
        <p id="texto_post">TABELA DE POSTS</p>
        <button id="criar"><i class="bi bi-plus-lg"></i></button>
    </div>
    <div class="conteudo">
        <div class="barra_pequisa">
            <button id="pesquisa">
                <p>PESQUISAR</p>
                <i class="bi bi-search"></i>
            </button>
        </div>
        <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>título</th>
                        <th>autor</th>
                        <th>data de criação</th>
                        <th>ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Teste</td>
                        <td>Marcos</td>
                        <td>22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"><i class="bi bi-eye"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Teste</td>
                        <td>Marcos</td>
                        <td>22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"><i class="bi bi-eye"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Teste</td>
                        <td>Marcos</td>
                        <td>22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"><i class="bi bi-eye"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Teste</td>
                        <td>Marcos</td>
                        <td>22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"><i class="bi bi-eye"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Teste</td>
                        <td>Marcos</td>
                        <td>22/03/2025</td>
                        <td class="acoes">
                            <button type="button" class="btn-primary"><i class="bi bi-eye"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn-primary"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <button><i class="bi bi-arrow-left-circle"></i></button>
                            <button>1</button>
                            <button>2</button>
                            <button>3</button>
                            <button>4</button>
                            <button><i class="bi bi-arrow-right-circle"></i></button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</body>

</html>