<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles_footer.css">
</head>

<body>
    <div class="conteudo">
        <div class="redes_logo">
            <div class="redes_sociais">
                <div class="texto_redes">
                    <p>Redes Sociais</p>
                </div>
                <div class="logos">
                    <div class="logos1">
                        <div>
                            <img src="../../../public/assets/Instagram.png" alt="">
                        </div>
                        <div>
                            <img src="../../../public/assets/Linkedin.png" alt="">
                        </div>
                    </div>
                    <div class="logos1">
                        <div>
                            <img src="../../../public/assets/Facebook.png" alt="">
                        </div>
                        <div>
                            <img src="../../../public/assets/Twitter.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo_blog">
                <img src="../../../public/assets/logo_blog.png" alt="" id="main_imagem">
            </div>
        </div>
        <div class="contato_assinatura">
            <div class="contato">
                <p class="titulo_contato">Contato</p>
                <div class="telefone">
                    <p class="texto_contato">(32)9 9999-9999</p>
                </div>
                <div class="email">
                    <p class="texto_contato">email@email.com</p>
                </div>
            </div>
            <img src="../../../public/assets/assinatura.png" alt="" id="second_imagem">
        </div>
    </div>
</body>

</html>