<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Lista de Posts</title>
    <!-- Link externo de CSS (descomente e ajuste se quiser usar) -->
    <link rel="stylesheet" href="../../../public/css/lista_de_posts.css" /> 
</head>
<body>
    <div class="conteudo">
        <h1>Principais Notícias</h1>
        
    <div class = "search">
        <input type="search" placeholder="Buscar">
    </div>

    <div class = "posts">
        <div class = "post">
            <img src="" alt="Imagem do Post 1">
            <h1>Título do Post 1</h1>
            <h2>Jane Doe</h2>
            <h3>Publicado em 09/09/1999</h3>
            <p>Resumo do conteúdo do post 1...</p>
        </div>

        <div class = "post">
            <img src="" alt="Imagem do Post 2">
            <h1>Título do Post 1</h1>
            <h2>Jane Doe</h2>
            <h3>Publicado em 09/09/1999</h3>
            <p>Resumo do conteúdo do post 2...</p>
        </div>

        <div class = "post">
            <img src="" alt="Imagem do Post 3">
            <h1>Título do Post 1</h1>
            <h2>Jane Doe</h2>
            <h3>Publicado em 09/09/1999</h3>
            <p>Resumo do conteúdo do post 3...</p>
        </div>

        <div class = "post">
            <img src="" alt="Imagem do Post 4">
            <h1>Título do Post 1</h1>
            <h2>Jane Doe</h2>
            <h3>Publicado em 09/09/1999</h3>
            <p>Resumo do conteúdo do post 4...</p>
        </div>

        <div class = "post">
            <img src="" alt="Imagem do Post 5">
            <h1>Título do Post 1</h1>
            <h2>Jane Doe</h2>
            <h3>Publicado em 09/09/1999</h3>
            <p>Resumo do conteúdo do post 5...</p>
        </div>

        <div class = "paginacao">
            <a href="#">Anterior</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">...</a>
            <a href="#">67</a>
            <a href="#">68</a>
            <a href="#">69</a>
            <a href="#">Próximo</a>

</body>
</html>