<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Lista de Posts</title>
    <!-- Link externo de CSS (descomente e ajuste se quiser usar) -->
    <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
</head>
<body>
    <div class="conteudo">
        <h1>Principais Notícias</h1>
        
    <div class = "search">
        <input type="search" placeholder="Buscar">
    </div>

    <div class = "posts">
        
    </div>
</body>
</html>