<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../../public/css/login.css">
</head>
<body>
    <div id="Retangulo">
        <div id="profile">
            <img src="../../../public/assets/logotipo.png" alt="Logotipo da Empresa Code Junior">
        </div>
    </div>        
</body>
</html>                                                                                                       