<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../../public/css/login.css">
</head>
<body>
    <div id="Retangulo">
        <div id="x">
            <p>X</p>
        </div>
        <div id="profile">
            <img src="../../../public/assets/logotipo.png" alt="Logotipo da Empresa Code Junior">
            <p>Login</p>  
        </div>
    <div id="email">
        <p>e-mail</p>
    </div> 
    <div id="senha">
        <p>senha</p>     
    </div> 
    <div id = entrar>
        <p>entrar</p>
    </div> 
</div> 
         

</body>
</html>                                                                                                       