<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/styles_post_individual.css">
</head>
<body>
    <header>
        <h1>Título</h1>
        <p>Autor</p>
        <p>Data Publicação</p>
    </header>

    <div class="teste">
            <div class="main-div"> </div>
    <div class="second"></div>
    <di class="third"></div>

    </div>
    
    
</body>
</html>