<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/sobre_nos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class ="pagina">
        <div class="introducao">
            <img src="../../../public/assets/exemplo_sobrenos.jpg" alt="" id="primary_img"><p>Venha fazer parte</p>
        </div>
        <div class="sobre_nos">
            <p class="texto">Titulo</p>
            <p class="texto">text text text text text text text text text text text text text </p>
        </div>
        <div class="mvv">
            <div class="missao">
                <p class="texto">titulo</p>
                <p class="texto">missao missao missao missao missao missao missao missao missao </p>
                <i class="bi bi-bullseye"></i>
            </div>
            <div class="visao">
                <p class="texto">titulo</p>
                <p class="texto">visao visao visao visao visao visao visao visao visao visao visao </p>
                <i class="bi bi-eye"></i>
            </div>
            <div class="valores">
                <p class="texto">titulo</p>
                <p class="texto">valores valores valores valores valores valores valores valores valores </p>
                <i class="bi bi-person-hearts"></i>
            </div>
        </div>
    </div>
    
</body>
</html>